{% extends "base.html" %}
{% set title = "Login" %}

{% block content %}
  <h1>Login</h1>

  <section class="card">
    {% if error %}
      <div class="alert">{{ error }}</div>
    {% endif %}

    <form class="grid grid-2" method="POST" action="{{ url_for('login_post') }}">
      <label>Usuario
        <input name="usuario" required>
      </label>

      <label>Contraseña
        <input type="password" name="password" required>
      </label>

      <button class="btn-primary" type="submit">Ingresar</button>
    </form>
  </section>
{% endblock %}

