<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header class="navbar">
  <div class="navbar-inner">
    <div class="brand">
      <img src="{{ url_for('static', filename='img/logo-a3.png') }}" alt="Logo A3">
      <div class="brand-title">
        <strong>A3 Laboratorio Veterinario</strong>
        <span>Acceso interno</span>
      </div>
    </div>

    <nav class="nav">
      <a class="nav-btn" href="{{ url_for('home') }}">Nueva solicitud</a>
    </nav>
  </div>
</header>

<main class="container">
  <h1>Login</h1>

  <section class="card card-narrow">
    <form class="grid grid-login" method="POST" action="{{ url_for('login') }}">
      <label>Usuario
        <input name="usuario" required>
      </label>

      <label>Contraseña
        <input name="password" type="password" required>
      </label>

      {% if error %}
      <div class="alert">{{ error }}</div>
      {% endif %}

      <button class="btn-primary" type="submit">Ingresar</button>
    </form>
  </section>
</main>

</body>
</html>
